/*
    ==============================================
                ****** RESET ******
    ==============================================
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

body {
  margin: 0;
}

:root {
  --color-red: #f42;
  --bg-color-red: #f42;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #333;
}

/*
    ==============================================
                ****** GLOBAL ******
    ==============================================
*/

.nav-top {
  background-color: red;
  font-family: "Roboto", sans-serif;
  padding: 0 20px;
  padding-bottom: 0;
  padding-right: 10%;
}

.logo {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  text-transform: capitalize;
  cursor: pointer;
}

.btn-subscribe {
  border-radius: 30px !important;
  padding: 5px 15px !important;
  text-transform: uppercase;
  font-weight: 900;
}

.btn-login {
  text-transform: uppercase;
  font-weight: 900;
}

.nav-border {
  border-right: 1px solid rgba(154, 154, 154, 0.4);
  margin: 7px 0;
}

.vantage,
.editions {
  margin: 7px 0;
}

.search {
  font-weight: 300;
}

.search-font {
  color: rgb(128, 127, 135) !important;
}

.nav-middle {
  font-size: 19px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.nav-bottom {
  font-size: 19px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  border-top: 1px solid rgba(154, 154, 154, 0.4);
  border-bottom: 1px solid rgba(154, 154, 154, 0.4);
}

.trending {
  font-weight: 900;
}

.nav-font-color {
  color: rgb(128, 127, 135) !important;
}

.nav-date,
.nav-top-right {
  margin-top: 4rem;
}

.nav-date {
  font-size: 0.8rem;
  color: white;
}

.nav-link:hover {
  color: red !important;
}

.noHover {
  pointer-events: none !important;
}

.news-article {
  font-size: 0.9rem;
  font-weight: bold;
}

.news-article:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

.news-img {
  height: 6rem;
}

/* footer */

.footer-icon {
  padding-right: 0.6rem;
  font-size: 24px;
  color: rgb(102, 102, 102);
}

.footer-title {
  color: red;
  font-weight: 900;
  padding: 0 8px;
  margin: 0;
}

.nav-footer-top {
  border-bottom: 1px solid rgba(154, 154, 154, 0.4);
}

.footer-copyright {
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: #666;
  margin-bottom: 12px;
}

.footer-icon:hover {
  color: blue !important;
}

.nav-footer-middle,
.nav-footer-bottom {
  font-size: 12px;
}

.nav-link-footer:hover {
  color: black !important;
}

/* Main section */

.article-title {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.article-text {
  font-size: 13px;
}

.heading {
  font-size: 16px;
  padding-bottom: 11px;
}

/* article bg images */

.article-top:nth-child(1) {
  background: url(assets/donald-trump.webp) center center/cover no-repeat;
  height: 25vh;
  cursor: pointer;
}

.overlay-text {
  background-color: #fff;
  opacity: 0.9;
  align-self: flex-end;
  text-align: center;
  text-transform: uppercase;
  padding: 8px;
  font-weight: bold;
  font-size: 0.9rem;
}

.article-title:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

/* Middle Section */

.heading-1 {
  font-size: 14px;
  padding-bottom: 11px;
}

.stories-title {
  font-size: 14px;
  font-weight: 900;
}

.stories-title:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

.stories-p {
  font-size: 13px;
}

.span-debate {
  margin: 0;
  padding-right: 5px;
  font-size: 0.9rem;
}

.debate-heading {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
}

.debate-heading:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

.debate-title {
  font-size: 0.7rem;
}

.img-debate {
  border-radius: 50%;
  height: 60px;
}

.line {
  position: relative;
  margin: 20px 0;
}

.vs {
  position: absolute;
  top: -13px;
  left: 110px;
  background-color: black;
  color: #fff;
  border-radius: 50%;
  padding: 3px 5px;
}

.opinion-p {
  font-size: 0.7rem;
  font-weight: bold;
  color: gray;
}

form {
  background-color: rgb(244, 245, 246);
  margin: 10px 0;
}

input {
  margin: 10px 0;
}

.form-heading {
  font-size: 0.8rem;
}

/* Magazine */

.logo-magazine {
  width: 1.5rem;
}

.magazine-title {
  padding-left: 0.6rem;
  margin-top: 0.5rem;
  font-size: 18px;
}

.features-title {
  font-size: 18px;
}

.features-title:hover {
  background-color: rgb(207, 190, 190);
}

.subscribe-title {
  font-size: 1.4rem;
}

.subscribe-p,
.newsletter-p {
  font-size: 0.9rem;
}

.subscribe-b {
  font-size: 1rem;
  letter-spacing: 1.2px;
}

.subscribe-left {
  background-color: whitesmoke;
  padding: 30px;
}

.newsletter-title {
  font-size: 1.3rem;
}

.newsletter-img {
  background: url(/assets/starting5-homepage.png) center center/cover no-repeat;
}


@media (max-width: 576px) {
  .logo {
    font-size: 0.9rem !important;
  }

  .nav-top {
    height: 7vh;
  }

  .nav-top-right {
    margin-bottom: 60px;
  }

  .btn-subscribe {
    font-size: 0.8rem !important;
    margin-right: 20px;
  }

  .icon-n {
    width: 2.5rem;
  }

  .vs {
    left: 200px;
  }
}

@media (min-width: 568px) and (max-width: 1200px) {
  .btn-subscribe {
    font-size: 0.9rem !important;
    margin-right: 20px;
  }

  .nav-top-right {
    margin-bottom: 40px;
  }

  .icon-n {
    width: 4rem;
  }

  .vs {
    left: 230px;
  }
}
