/*
    ==============================================
                ****** RESET ******
    ==============================================
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

body {
  margin: 0;
}

:root {
  --color-red: #f42;
  --bg-color-red: #f42;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #333;
}

/*
    ==============================================
                ****** GLOBAL ******
    ==============================================
*/

.nav-top {
  background-color: red;
  font-family: "Roboto", sans-serif;
  padding: 0px 20px;
}

.logo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4rem;
  font-weight: 900;
  text-transform: capitalize;
}

.btn-subscribe {
  border-radius: 30px !important;
  padding: 5px 15px !important;
  text-transform: uppercase;
  font-weight: 900;
}

.btn-login {
  text-transform: uppercase;
  font-weight: 900;
}

.nav-border {
  border-right: 1px solid rgba(154, 154, 154, 0.4);
  margin: 7px 0;
}

.vantage {
  margin: 7px 0;
}

.search {
  font-weight: 300;
}

.search-font {
  color: rgb(128, 127, 135) !important;
}

.nav-middle {
  font-size: 19px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.nav-bottom {
  font-size: 19px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  border-top: 1px solid rgba(154, 154, 154, 0.4);
  border-bottom: 1px solid rgba(154, 154, 154, 0.4);
}

.trending {
  font-weight: 900;
}

.nav-font-color {
  color: rgb(128, 127, 135) !important;
}

.nav-date,
.nav-top-right {
  margin-top: 4rem;
}

.nav-date {
  font-size: 0.8rem;
  color: white;
}

.nav-link:hover {
  color: red !important;
}

.noHover {
  pointer-events: none !important;
}

.logo {
  cursor: pointer;
}


/* footer */

.footer-icon {
  color: black;
}

.footer-title {
  color: red;
  font-weight: 900;
  font-size: 3rem;
  padding-bottom: 0 !important;
}

.nav-footer {
  border-bottom: 1px solid rgba(154, 154, 154, 0.4);
}

.footer-copyright {
  font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #666;
    margin-bottom: 12px;
}