/*
    ==============================================
                ****** RESET ******
    ==============================================
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

body {
  margin: 0;
}

:root {
  --color-red: #f42;
  --bg-color-red: #f42;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #333;
}

/*
    ==============================================
                ****** GLOBAL ******
    ==============================================
*/

.nav-top {
  background-color: red;
  font-family: "Roboto", sans-serif;
  padding: 0 20px;
  padding-bottom: 0;
  padding-right: 10%;
}

.logo {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  text-transform: capitalize;
  cursor: pointer;
}

.btn-subscribe {
  border-radius: 30px !important;
  padding: 5px 15px !important;
  text-transform: uppercase;
  font-weight: 900;
}

.btn-login {
  text-transform: uppercase;
  font-weight: 900;
}

.nav-border {
  border-right: 1px solid rgba(154, 154, 154, 0.4);
  margin: 7px 0;
}

.vantage,
.editions {
  margin: 7px 0;
}

.search {
  font-weight: 300;
}

.search-font {
  color: rgb(128, 127, 135) !important;
}

.nav-middle {
  font-size: 19px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.nav-bottom {
  font-size: 19px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  border-top: 1px solid rgba(154, 154, 154, 0.4);
  border-bottom: 1px solid rgba(154, 154, 154, 0.4);
}

.trending {
  font-weight: 900;
}

.nav-font-color {
  color: rgb(128, 127, 135) !important;
}

.nav-date,
.nav-top-right {
  margin-top: 4rem;
}

.nav-date {
  font-size: 0.8rem;
  color: white;
}

.nav-link:hover {
  color: red !important;
}

.noHover {
  pointer-events: none !important;
}

/* footer */

.footer-icon {
  padding-right: 0.6rem;
  font-size: 24px;
  color: rgb(102, 102, 102);
}

.footer-title {
  color: red;
  font-weight: 900;
  padding: 0 8px;
  margin: 0;
}

.nav-footer-top {
  border-bottom: 1px solid rgba(154, 154, 154, 0.4);
}

.footer-copyright {
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: #666;
  margin-bottom: 12px;
}

.footer-icon:hover {
  color: blue !important;
}

.nav-footer-middle,
.nav-footer-bottom {
  font-size: 12px;
}

.nav-link-footer:hover {
  color: black !important;
}

/* Main section */

.article-title {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.article-text {
  font-size: 13px;
}

.heading {
  font-size: 16px;
  padding-bottom: 11px;
}

/* article bg images */

.article-top:nth-child(1) {
  background: url(assets/donald-trump.webp) center center/cover no-repeat;
  height: 25vh;
  cursor: pointer;
}

.article-top:nth-of-type(2) {
  background: url(assets/newsweek-expert-forum.webp) center center/cover
    no-repeat;
  height: 25vh;
}
.article-top:nth-child(4) {
  background: url(assets/trump-steps-off-air-force-one.webp) center center/cover
    no-repeat;
  height: 25vh;
}
.article-top:nth-child(5) {
  background: url(assets/biden-speaks-delaware.webp) center center/cover
    no-repeat;
  height: 25vh;
}
.article-top:nth-child(6) {
  background: url(assets/donald-trump.webp) center center/cover no-repeat;
  height: 25vh;
}
.article-top:nth-child(7) {
  background: url(assets/donald-trump.webp) center center/cover no-repeat;
  height: 25vh;
}
.article-top:nth-child(8) {
  background: url(assets/donald-trump.webp) center center/cover no-repeat;
  height: 25vh;
}
.article-top:nth-child(9) {
  background: url(assets/donald-trump.webp) center center/cover no-repeat;
  height: 25vh;
}

.overlay-text {
  background-color: #fff;
  opacity: 0.9;
  align-self: flex-end;
  text-align: center;
  text-transform: uppercase;
  padding: 8px;
  font-weight: bold;
  font-size: 0.9rem;
}

.article-title:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

/* Middle Section */

.heading-1 {
  font-size: 14px;
  padding-bottom: 11px;
}

.stories-title {
  font-size: 14px;
  font-weight: 900;
}

.stories-title:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

.stories-p {
  font-size: 13px;
}

@media (max-width: 576px) {
  .logo {
    font-size: 0.9rem !important;
  }

  .nav-top {
    height: 7vh;
  }

  .nav-top-right {
    margin-bottom: 60px;
  }

  .btn-subscribe {
    font-size: 0.8rem !important;
    margin-right: 20px;
  }
}

@media (min-width: 568px) and (max-width: 1200px) {
  .btn-subscribe {
    font-size: 0.9rem !important;
    margin-right: 20px;
  }

  .nav-top-right {
    margin-bottom: 40px;
  }
}
